/* Global styles */
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* TopHeader styles */
.top-header {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.new-arrivals-heading {
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.04em;
  margin-left: 100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  background-color: #fff; /* Or whatever background color you prefer */
  position: relative;
}

.links {
  display: flex;
  align-items: center;
}

.wishlist-icon-container,
.cart-icon-container,
.avatar-container {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.wishlist-icon-container,
.cart-icon-container {
  position: relative; /* Allows for precise positioning */
  top: -5px; /* Adjust this value to raise the icons */
}

.avatar-container {
  position: relative; /* Allows for precise positioning */
  top: -10px; /* Adjust this value to raise the avatar */
}

/* Navbar styles */
nav {
  background-color: white;
  padding: 15px;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;

  gap: 15px; /* Space between links, search bar, and icon */
  flex-wrap: wrap; /* Wrap items on smaller screens if needed */
}

nav .logo {
  margin: 0;
  margin-left: 100px;
  color: black;
  font-size: 1.2em;
}

nav .links {
  display: flex;
  align-items: center;
  margin-right: 0px;
}

nav a {
  color: black;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
  line-height: 40px;
}

nav a:hover {
  color: blue;
}

/* Login and SignUp form styles */

.full-signup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.signup-container {
  flex: 1;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  margin: 0;
}

.signup-container h2 {
  text-align: left;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-size: 2.5rem;
  font-weight: 500;
}

.signup-container p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 20px;
}

.haveAccount {
  font-size: 1rem;
  margin: 0;
}

#haveAccountLogIn {
  margin-left: 20px;
  font-weight: 500;
  border-bottom: 1px solid black;
  padding-bottom: 3px;
}
#haveAccountLogIn:hover {
  cursor: pointer;
  color: #da4445;
}

.signup-container h3 {
  font-weight: 400;
  font-size: 1.1rem;
  margin-top: -7px;
  font-family: "Inter", sans-serif;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  margin: -3px;
  width: 100%;
  padding: 8px;
  /* border: 1px solid #ddd;
  border-radius: 4px; */
}

.signup-container button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #da4445;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 15px;

  text-transform: none;

  letter-spacing: 1px;
  font-family: "Inter", sans-serif;
  margin-top: 15px;
}

.signup-container button[type="submit"]:hover {
  background-color: #971f20;
}

/* Footer styles */
footer {
  background-color: #000;
  color: #fff;
  padding: 40px 0;
}

footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer .footer-section {
  flex: 1;
  margin-right: 20px;
}

footer h3 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer li {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

footer input[type="email"] {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 0.5rem;
  width: calc(100% - 40px);
  font-size: 0.9rem;
}

footer button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 0.5rem;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .subscribe-container {
  display: flex;
  margin-top: 1rem;
}

footer .download-app p {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

footer .app-stores {
  display: flex;
  gap: 0.5rem;
}

footer .app-stores img {
  height: 2rem;
  width: auto;
}

footer .social-icons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

footer .social-icons img {
  width: 1.25rem;
  height: 1.25rem;
}

footer .copyright {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #333;
  text-align: center;
  font-size: 0.8rem;
  color: #808080;
}

@media (max-width: 768px) {
  footer .footer-content {
    flex-direction: column;
  }

  footer .footer-section {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

/* Home page styles */
.home-container {
  text-align: center;
  padding: 40px 0;
}

.home-container h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

/* Message styles */
.message {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}

.success-message {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.image-container {
  width: 100%;
  max-width: 700px;
  flex: 1;
}
.image-container img {
  width: 100%;
  height: auto;
}

@media (max-width: 1024px) {
  .full-signup {
    flex-direction: column;
    align-items: center;
  }

  .image-container {
    max-width: 90%; /* Adjust image size for tablets */
  }

  .signup-container {
    max-width: 90%; /* Adjust form width for tablets */
  }
}

/* Medium screens and tablets */
@media (max-width: 768px) {
  .full-signup {
    flex-direction: column;
    align-items: center;
  }

  .image-container {
    max-width: 100%; /* Full width on smaller screens */
  }

  .signup-container {
    max-width: 95%; /* Adjust form width for medium screens */
  }

  .signup-container h2 {
    font-size: 2rem; /* Adjust font size for medium screens */
  }

  .signup-container h3 {
    font-size: 1rem; /* Adjust font size for medium screens */
  }

  .signup-container button[type="submit"] {
    font-size: 0.9rem; /* Adjust font size for medium screens */
  }
}

/* Small screens and mobile phones */
@media (max-width: 480px) {
  .full-signup {
    flex-direction: column;
    align-items: center;
  }

  .image-container {
    max-width: 100%; /* Full width on small screens */
  }

  .signup-container {
    max-width: 100%; /* Full width on small screens */
    padding: 10px; /* Reduce padding for small screens */
  }

  .signup-container h2 {
    font-size: 1.5rem; /* Adjust font size for small screens */
  }

  .signup-container h3 {
    font-size: 0.9rem; /* Adjust font size for small screens */
  }

  .signup-container button[type="submit"] {
    font-size: 0.8rem; /* Adjust font size for small screens */
  }
}

.full-login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.login-form {
  flex: 1;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  margin: 0;
}

.login-form h2 {
  margin-top: 100px;
  text-align: left;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-size: 2.5rem;
  font-weight: 500;
}

.login-form p {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}

.login-form button[type="submit"] {
  width: 35%;
  padding: 10px;
  background-color: #da4445;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 15px;
  height: 50px;

  text-transform: none;

  letter-spacing: 1px;
  font-family: "Inter", sans-serif;
  margin-top: 15px;
}

.login-form h3 {
  font-weight: 400;
  font-size: 1.1rem;
  margin-top: -7px;
  font-family: "Inter", sans-serif;
}
.login-form button[type="submit"]:hover {
  background-color: #971f20;
}

#forgotPass {
  margin-left: 125px;
}

#forgotPass:hover {
  cursor: pointer;
  color: #971f20;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

#call-write {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding-top: 30px;
  padding-bottom: 30px;
}

.call-to-us h3 {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
}
.call-to-us img {
  margin-right: 8px;
}

.call-to-us p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.call-to-us {
  text-align: left;
  margin-left: 30px;
}

.write-to-us h3 {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
}
.write-to-us img {
  margin-right: 8px;
}

.write-to-us p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.write-to-us {
  text-align: left;
  margin-left: 30px;
}

.send-message {
  margin-left: 30px;
  width: 800px;
  max-height: 800px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.send-message-form {
  padding-top: 30px;
  padding-bottom: 30px;
  max-height: 345px;
}
.form-group {
  display: inline-block;
  margin-right: 10px;
  margin-left: 20px;
}
.your-msg {
  margin-left: 20px;
}

#msg-btn {
  background-color: #db4444;
  text-transform: none;
  font-family: "Poppins", "sans-serif";
  width: 215px;
  border-radius: 4px;
  height: 50px;
  font-weight: 500;
  line-height: 24px;
  margin-left: 570px;
}

@media (max-width: 768px) {
  .contact-container {
    height: auto;
    flex-direction: column;
  }

  #call-write {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .call-to-us,
  .write-to-us {
    margin-left: 15px;
  }

  .send-message {
    width: 90%;
    max-height: none;
    margin-left: 0;
  }

  .form-group {
    display: block;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 15px;
  }

  .your-msg {
    margin-left: 0;
  }

  #msg-btn {
    width: 100%;
    margin-left: 0;
  }
}

#our-story {
  margin-left: 135px;
  margin-top: 342px;
}

#our-story-img {
  height: 609px;
  margin-left: 735px;
  margin-top: -530px;
}

#icon-img {
  margin-bottom: 5px;
  margin-top: -10px;
}

.stat-item {
  display: inline-block;
  margin-left: 30px;
}

#stat-item:hover {
  background-color: red;
  color: white;
}

.stat-container {
  margin-left: 10%;
  margin-top: 10%;
}
.img-container1 {
  width: 80px;
  height: 80px;
  background-image: url("../src/images/whiteShop.png");
  background-size: cover;
  background-position: center;
  transition: background-image 0.28s ease;
  margin: 0 auto;
  display: inline-block;
  margin-top: -10px;
  margin-bottom: 5px;
}

.card:hover .img-container1 {
  background-image: url("../src/images/blackShop.png");
}

.img-container2 {
  width: 80px;
  height: 80px;
  background-image: url("../src/images/whiteDollar.png");
  background-size: cover;
  background-position: center;
  transition: background-image 0.28s ease;
  margin: 0 auto;
  display: inline-block;
  margin-top: -10px;
  margin-bottom: 5px;
}

.card:hover .img-container2 {
  background-image: url("../src/images/blackDollar.png");
}

.img-container3 {
  width: 80px;
  height: 80px;
  background-image: url("../src/images/whiteBag.png");
  background-size: cover;
  background-position: center;
  transition: background-image 0.28s ease;
  margin: 0 auto;
  display: inline-block;
  margin-top: -10px;
  margin-bottom: 5px;
}

.card:hover .img-container3 {
  background-image: url("../src/images/blackShoppingBag.png");
}

.img-container4 {
  width: 80px;
  height: 80px;
  background-image: url("../src/images/whiteMoney.png");
  background-size: cover;
  background-position: center;
  transition: background-image 0.28s ease;
  margin: 0 auto;
  display: inline-block;
  margin-top: -10px;
  margin-bottom: 5px;
}

.card:hover .img-container4 {
  background-image: url("../src/images/blackMoney.png");
}

.card div {
  margin-top: 5px;
  margin-bottom: 5px;
}

.fullServices {
  margin-left: 7.5%;
  margin-top: 20%;
  margin-bottom: 10%;
}

.wishlist-icon-container {
  display: flex;
  align-items: center;
}

.wishlist-icon {
  cursor: pointer;
  margin-top: 7px;
  margin-left: 120px;
}

.cart-icon-container {
  display: flex;
  align-items: center;
}

.cart-icon {
  cursor: pointer;
  margin-top: 7px;
  margin-left: -120px;
}

.avatar-container {
  display: flex;
  align-items: center;
}

.avatar {
  cursor: pointer;
  margin-top: 7px;
  margin-left: -220px;
}

#basic-menu {
  height: 3000px;
}

.nf404 {
  font-family: Inter;
  font-size: 110px;
  font-weight: 500;
  line-height: 115px;
  letter-spacing: 0.03em;
  margin-bottom: 40px;
}

.nf {
  margin-top: 150px;
  text-align: center;
  height: 50vh;
}
.nf404p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
#nf404-btn {
  background-color: #db4444;
  text-transform: none;

  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  width: 280px;
  height: 56px;
  padding: 16px 48px 16px 48px;
  gap: 10px;
  border-radius: 4px 0px 0px 0px;
  margin-top: 40px;
}

#search-basic {
  margin-bottom: -10px;
}
.slider-wrapper {
  margin-left: 370px;
  margin-top: 30px;
  display: flex;
  justify-content: center; /* Center the slider horizontally */
  align-items: center; /* Center the slider vertically if needed */
  width: 70%; /* Full width of the parent container */
  height: 100%; /* Full height of the parent container */
  padding: 20px; /* Optional padding */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.slider-container {
  position: relative; /* Allows for absolute positioning of child elements */
  width: 87%; /* Responsive width of the slider container */
  height: 500px; /* Fixed height for the slider container */
  overflow: hidden; /* Hide overflow content */
  margin-left: 100px; /* Optional margin for positioning */
}

.slider-slide {
  height: 390px; /* Full height of the slider container */
  display: flex; /* Flexbox to center the content */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}

.slider-img {
  top: 0;
  left: 0;
  width: 100%; /* Cover the full width of the container */
  height: 100%; /* Cover the full height of the container */
  display: block; /* Remove default inline spacing */
}

.todays {
  display: flex;
}

.todays img {
  height: 40px;
  margin-left: 100px;
}
.todays h2 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-left: 15px;
  color: #db4444;
}
.flashSale {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.flashSale h2 {
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.04em;
}

.timer-wrapper {
  display: flex;
}

.timer {
  display: flex;
  align-items: center;
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.04em;
  margin-top: 20px;
  margin-left: 70px;
}

.time-unit {
}

.time-value {
}

.timer p {
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin-top: -45px;
}

.separator {
  color: red;
  font-size: 32px;
  font-weight: 700;
  margin-top: -20px;
  margin-right: 15px;
  margin-left: 15px;
}

.flashCard {
  margin-left: 100px;
}

.flashCardName {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.flash-price {
  display: flex;
  margin-top: -20px;
}

.flashCardDiscount {
  color: red;

  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-right: 10px;
}

.flashCardPrice {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  opacity: 50%;
  text-decoration: line-through;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.flashCard {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: -50px;
  position: relative; /* Required for absolute positioning of overlay */
}

.flashCard .overlay {
  background-color: rgba(0, 0, 0, 1);
  color: white;
  margin-top: 300px;
  height: 50px;
  width: 350px;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
}

.flashCard:hover .overlay {
  opacity: 1; /* Show overlay on hover */
  cursor: pointer;
}

#flash-btn {
  background-color: #db4444;
  text-transform: none;
  font-family: "Poppins", "sans-serif";
  width: 215px;
  border-radius: 4px;
  height: 50px;
  font-weight: 500;
  line-height: 24px;
}

.flash-button {
  text-align: center; /* Center content horizontally */
  margin-top: 50px;
}

.divider {
  border: 0;
  border-top: 1px solid grey; /* Light grey color */
  width: 87%;
  margin-top: 50px;
  margin-bottom: 50px;
}

#browseByCategory {
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.04em;
  margin-left: 100px;
}

.category-item {
  height: 145px;
  width: 170px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin-right: 60px;
  text-align: center;
  margin-bottom: 40px;
}

.category-item:hover {
  cursor: pointer;
}
.categoryName {
  margin-top: 10px;

  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.category-list {
  margin-left: 100px;
  margin-top: 50px;
}

.category-item:hover {
  background-color: #da4445;
  transition: background-color 0.28s ease;
}

.categoryImage {
  margin-top: 25px;
}

#bestSellingProducts {
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.04em;
  margin-left: 100px;
}

#viewAllSellingProducts {
  background-color: #db4444;
  text-transform: none;
  font-family: "Poppins", "sans-serif";
  width: 160px;
  border-radius: 4px;
  height: 50px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 30px;
  margin-left: 785px;
}

.sellingProducts {
  display: flex;
}

.product-card {
  display: inline-block;
  margin-right: 70px;
  margin-right: 100px;
  width: 340px;
  margin-top: 20px;
}

.product-list-best {
  margin-left: 100px;
}

.product-card .overlay {
  background-color: rgba(0, 0, 0, 1);
  color: white;
  margin-top: 300px;
  height: 50px;
  width: 350px;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
}

.product-card:hover .overlay {
  opacity: 1; /* Show overlay on hover */
  cursor: pointer;
}

.product-price {
  display: flex;
  margin-top: -20px;
}

.productCardDiscount {
  color: red;

  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-right: 10px;
}

.productCardPrice {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  opacity: 50%;
  text-decoration: line-through;
}

.promo-categories {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-left: 15px;
  color: #00ff66;
}

.promo-banner {
  position: relative; /* Allows absolute positioning of child elements */
  height: 400px; /* Fixed height for the banner */
  width: 87%; /* Responsive width */
  overflow: hidden; /* Hide any overflow */
  margin-left: 100px;
}

.promo-image img {
  position: absolute; /* Position image absolutely within the container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.promo-content {
  position: absolute;
  top: 45%;
  left: 20%;
  transform: translate(-50%, -50%); /* Center content */
  color: white;
  text-align: left;
  padding: 20px;
  border-radius: 8px; /* Optional: rounded corners */
}

.promo-categories {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.promo-content h2 {
  margin: 10px 0;
  font-family: Inter;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0.04em;
}

.promo-content button {
  background-color: #00ff66;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 50px;
  width: Hug (171px) px;
  height: Hug (56px) px;
  top: 375px;
  left: 56px;
  padding: 16px 48px 16px 48px;
  gap: 10px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
}

.promo-content button:hover {
  background-color: #00cc52;
}
/* Container for the grid of arrival items */
.arrivals-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

/* Each arrival item container */
.arrival-item {
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}
.arrival-image {
  width: 100%; /* Ensure the image takes full width of its container */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the container without distortion */
  display: block; /* Block display to prevent inline spacing issues */
}

/* Container for tall image */
.tall-image-container {
  width: 100%;
}

/* Container for wide image */
.wide-image-container {
  width: 100%;
}

/* Styling for tall images */
.tall-image {
  height: 600px; /* Fixed height for tall images */
  width: auto; /* Width adjusts automatically */
  object-fit: inherit;
}

/* Styling for wide images */
.wide-image {
  height: 300px; /* Adjust this height as needed */
  width: 100%;
  object-fit: inherit;
}

/* Container for custom height images, placed under the wide image */
.custom-height-container {
  margin-top: 20px; /* Space above the custom height images */
}

/* Styling for square images */
.square-image-container {
  margin-top: -285px;
  margin-left: 470px;

  margin-bottom: 10px;
  margin-right: 10px;
  width: 100%;
  height: 284px; /* Fixed height for square images */
  box-sizing: border-box;
}

/* Specific styling for custom height images */
.custom-height {
  height: 100%; /* Full height of the container */
  width: 100%; /* Full width of the container */
  object-fit: inherit;
}

/* Overlay text styling */
.arrival-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  text-align: left;
  width: calc(100% - 20px);
  padding: 10px;
  box-sizing: border-box;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Semi-transparent background for text visibility */
}

/* Title styling */
.arrival-title {
  margin: 0;
  font-size: 1.5em;
}

/* Shop Now link styling */
.arrival-link {
  display: inline-block;
  margin-top: 8px;
  color: #fff;
  text-decoration: underline;
  font-size: 1.2em;
}
